.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 2rem;
	color: #6900ff;
}

.color {
	color: #6900ff;
}
.mb-2 {
	margin-bottom: 2rem;
}
h1 {
	margin-left: 0;
}
