.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 2rem;
	color: #01c4c4;
	/* color: -webkit-linear-gradient(45deg, #00ffff, #556270); */
	background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
	background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
	background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.color {
	background: -webkit-linear-gradient(70deg, #00ffff, #556270);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mb-2 {
	margin-bottom: 2rem;
}
h1 {
	margin-left: 0;
}
