.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.4rem;
}

.icon {
	font-size: 4rem;
	color: #01c4c4;
	/* color: -webkit-linear-gradient(45deg, #00ffff, #556270); */
}

.color {
	background: -webkit-linear-gradient(70deg, #00ffff, #556270);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.mb-2 {
	margin-bottom: 2rem;
}
h1 {
	margin-left: 0;
}
